body {
  background: linear-gradient(
    109.6deg,
    rgb(151, 213, 255) 11.2%,
    rgb(255, 155, 185) 91.1%
  );
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  margin: auto;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

a {
  color: #5c488e;
}

form {
  padding: 30px;
  background-color: aliceblue;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  display: flex;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  font-size: 13px;
  color: #272044;
  margin-top: 30px;
}

.container {
  margin: 60px auto;
  max-width: 600px;
}

.prompt {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 25px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: #4a495d;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 25px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #4a495d;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
}

.poem strong {
  color: darkorchid;
}
